<div class="container" ng-cloak>
    <div class="row">
        <div class="col-md-3">
            <h3>User</h3>
            <div ng-repeat="user in users">
                \{{user.name}}
            </div>
        </div>
        
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-sm-3">
                        <div id="addRectangle">

                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div id="addCircle">

                        </div>
                    </div>
                    <div class="col-sm-3"></div>
                    <div class="col-sm-3"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" id="canvas-container">
                    <canvas id="fabricjs" width="500" height="500"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>