
 <div class="splash">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1>Collaboration FabricJs Example</h1>
        <p>Made with NodeJs, Express, AngularJs and Socket.io</p>
        <p><a class="btn btn-primary btn-lg">Learn more</a></p>
      </div>
    </div>
  </div>
</div>



<div ng-view id="mainView"></div>
