<!DOCTYPE html>

<html lang="en" ng-app="fabricApp">

<head>
    <base href="/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>FabricJS Collaboration Example</title>
    <link rel="shortcut icon" href="">
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/style.css">

    <!--[if IE]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div id="loader-wrapper">
    <div id="loader"></div>

    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>

</div>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><b>FabricJS Collaboration</b></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">

            </div>
            <!--/.navbar-collapse -->
        </div>
    </nav>

    <div class="splash">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1>FabricJS Collaboration Example</h1>
                    <h2>Made with NodeJs, Express, AngularJs and Socket.io</h2>
                    <p><a class="btn btn-primary btn-lg" href="https://github.com/nyozz/fabricjs-collaboration-example" target="_blank">Learn more</a></p>
                </div>
            </div>
        </div>
    </div>


    <div ng-view id="mainView"></div>

    <footer class="main-footer ng-scope">
        <div class="inner-container clearfix">
            <div>
                <h3>Made with <i class="fa fa-heart"></i> at InApp.</h3>
            </div>
            <nav class="footer-block">
                <a href="http://www.inapp.eu/articles" target="_blank">Development Blog</a>
                <a href="mailto:henry@inapp.eu">Contact</a>
            </nav>
            <nav class="footer-block">
                <a class="social tw" href="http://twitter.com/gamodogames" target="_blank"> <i class="fa fa-twitter"></i> </a>
                <a class="social fb" href="http://facebook.com/gamodo.eu" target="_blank"> <i class="fa fa-facebook"></i> </a>
                <a href="http://www.henrykeller.eu" target="_blank">Copyright © 2015 Henry Keller.</a>
            </nav>
        </div>
    </footer>

    <script src="bower_components/socket.io-client/socket.io.js"></script>
    <script src="bower_components/fabric.js/dist/fabric.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
</body>

</html>
