body {
    font-family: 'Raleway', sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    color: #666;
    background-color: #f4f4f4;
}

/* ng-cloak */
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}

#mainView {
    background-color: #FFF;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

#mainView .container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.btn-primary {
    background-image: none;
    border: none;
    box-shadow: none;
}


.splash {
    height: 350px;
    padding-top: 110px;
    background-color: #2c3e50;
    color: #FAFAFA;
    text-align: center;
    font-family: 'Oxygen', sans-serif;
}

.splash .btn-primary {
    background-color: rgba(150, 200, 255, .3);
    box-shadow: none;
}

.splash .btn-primary:focus, 
.splash .btn-primary:hover {
    background-color: rgba(150, 200, 255, .2);
}


.splash p {
    margin-top: 15px;
}

.splash h1 {
    font-size: 40px;
    font-weight: 700;
}

.splash h2 {
    font-size: 18px;
    color: rgba(200,225,255,.5);
}

#fabricjs {
    border: 1px dotted #bdc3c7;
}

.editorBubble {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    border-radius: 4px;
    background-color: #d35400;
    color: #FAFAFA;
    padding: 10px;
}

.editorBubble i {
    margin-right: 10px;
    margin-left: 5px;
}

.navbar-default {
    border: none;
    box-shadow: none;
    background-image: none;
    background-color: #34495e;
}

.navbar-default .navbar-brand {
    color: #FAFAFA;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #E1E1E1;
}

.navbar-default .navbar-toggle {
    border-color: #2c3e50;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    border-color: #2c3e50;
    background-color: #2c3e50;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #2c3e50;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FAFAFA;
}


/* FOOTER */
footer.main-footer {
    padding: 56px 0;
    font-family: 'Open Sans', 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial;
    font-weight: 400;
    background: #f4f4f4;
    border-top: 1px solid #e8e8e8;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

footer.main-footer .inner-container {
    max-width: 1290px;
    padding: 0 45px;
    margin: 0 auto;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
}

footer.main-footer .inner-container > div:after {
    content: '';
    top: 16px;
    width: 838px;
    height: 1px;
    background: #f4f4f4;
    background: -moz-linear-gradient(left, #f4f4f4 0, #d8d8d8 20%, #d8d8d8 80%, #f4f4f4 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0, #f4f4f4), color-stop(20%, #d8d8d8), color-stop(80%, #d8d8d8), color-stop(100%, #f4f4f4));
    background: -webkit-linear-gradient(left, #f4f4f4 0, #d8d8d8 20%, #d8d8d8 80%, #f4f4f4 100%);
    background: linear-gradient(to right, #f4f4f4 0, #d8d8d8 20%, #d8d8d8 80%, #f4f4f4 100%);
    z-index: 0;
    left: 50%;
    position: absolute;
    margin-left: -419px;
}

footer.main-footer .footer-block {
    width: 50%;
    font-size: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    display: block;
    float: left;
}

footer.main-footer .footer-block:last-child {
    text-align: right;
}

footer.main-footer .inner-container h3 {
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 5px;
    display: inline-block;
    background-color: #f4f4f4;
    color: #747474;
    z-index: 1;
    width: 410px;
    text-align: center;
    left: 50%;
    margin-left: -205px;
    opacity: .99;
    position: relative;
    padding-bottom: 20px;
    margin-top: 0;
    margin-bottom: 0;

}

footer.main-footer .footer-block a {
    vertical-align: middle;
    font-size: 14px;
    line-height: 19px;
    color: #747474;
    display: inline;
    margin-right: 12px;
    text-decoration: none;
}

footer.main-footer a.social {
    display: inline-block;
    margin-right: 8px;
    width: 32px;
    height: 32px;
    background: #cacaca;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -ms-border-radius: 50%;
    text-align: center;
    padding: 7px 0 0 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
}

footer.main-footer a.social.tw:hover {
    background: #55acee;
}

footer.main-footer a.social.fb:hover {
    background: #3b5998;
}

footer.main-footer a.social > i {
    color: #FFF;
}

.main-footer .fa.fa-heart {
    color: #c73935;
    -webkit-animation: heartBeat 1.5s infinite ease-in-out;
    animation: heartBeat 1.5s infinite ease-in-out;
}


/* Loader */

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #2980b9;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    z-index: 1001;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #c0392b;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #2ecc71;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #f4f4f4;
    z-index: 1000;
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}

.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all 0.3s 1s ease-out;
    transition: all 0.3s 1s ease-out;
}


/* Animations */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes heartBeat {
    0%, 100% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    10% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3)
    }
    25% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2)
    }
    35% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3)
    }
}
@keyframes heartBeat {
    0%, 100% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    10% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3)
    }
    25% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2)
    }
    35% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3)
    }
}
