body {
    font-family: 'Raleway', sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    color: #666;
}

/* ng-cloak */
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}

.btn-primary {
    background-image: none;
    border: none;
    box-shadow: none;
}


.splash {
    height: 25em;
    padding-top: 7em;
    margin-bottom: 2em;
    background-color: #2c3e50;
    color: #FAFAFA;
    text-align: center;
    font-family: 'Oxygen', sans-serif;
}

.splash .btn-primary {
    background-color: rgba(150, 200, 255, .3);
    box-shadow: none;
}

.splash .btn-primary:focus, 
.splash .btn-primary:hover {
    background-color: rgba(150, 200, 255, .2);
}


.splash p {
    margin-top: 15px;
}

.splash h1 {
    font-size: 40px;
    font-weight: 700;
}

.splash h2 {
    font-size: 18px;
    color: rgba(200,225,255,.5);
}

#fabricjs {
    border: 1px dotted #bdc3c7;
}

.editorBubble {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    border-radius: 4px;
    background-color: #d35400;
    color: #FAFAFA;
    padding: 10px;
}

.navbar-default {
    border: none;
    box-shadow: none;
    background-image: none;
    background-color: #34495e;
}

.navbar-default .navbar-brand {
    color: #FAFAFA;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #E1E1E1;
}

.navbar-default .navbar-toggle {
    border-color: #2c3e50;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    border-color: #2c3e50;
    background-color: #2c3e50;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #2c3e50;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FAFAFA;
}
